$background-color: #ffe5b5;

$color-red: #d9564a;
$color-grean: #858c51;
$color-black: #333333;
$color-red-dark: #d9674e;
$color-background-white: #ffffff80;
$color-gray: #707070;
$color-gray-green: #858C51;
$color-orange: #F2AA6B;
$color-light-green: #AFD9A1;